body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}
#counter {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.label {
    color: #4caf50
    margin-right 5px;
}